
<div class="container">
  <h1>Registration</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Username">Username</label>
      <input type="text" name="username" [(ngModel)]="creds.username"   required>
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
     <input type="text" name="email"  required>
    </div>
<div class="form-group">
      <label for="Password">Password</label>
      <input type="password" name="password" [(ngModel)]="creds.password" required>
    </div>
<div class="form-group">
      <label for="password2">Repeat Password</label>
      <input type="password" name="password2" required>
    </div>



    <button type="submit" >Submit</button>

  </form>
</div>

<button (click)="onSelectBack()">back</button>